beautifulsoup4==4.13.5
evaluate==0.4.5
forex_python==1.9.2
keras_tuner==1.4.7
matplotlib==3.10.6
numpy==2.3.2
pandas==2.3.2
pandas_datareader==0.10.0
plotly==5.24.1
Requests==2.32.5
rich==14.1.0
scikit_learn==1.7.1
selenium==4.35.0
sympy==1.13.2
tensorflow==2.20.0
torch==2.8.0
transformers==4.56.1
webdriver_manager==4.0.2
yfinance==0.2.65
